.debug * {
    border: 0.01px yellow solid !important;
}

body,
.wrapper {
    --padding: 1rem;
    --gutter: minmax(0, 1fr);
    --content-max: 70rem;
    --content: min(100% - 2 * var(--padding), var(--content-max));
    --breakout-max: 90rem;
    --breakout: minmax(0, calc((var(--breakout-max) - var(--content-max)) / 2));
    display: grid;
    grid-template-columns: [edge-start] var(--padding) [full-width-start] var(--gutter) [breakout-start breakout-left-start] var(--breakout) [content-start breakout-right-start] var(--content) [content-end breakout-left-end] var(--breakout) [breakout-end breakout-right-end] var(--gutter) [full-width-end] var(--padding) [edge-end];
}

@media (orientation: landscape) {

    body,
    .wrapper {
        --padding: 3rem;
    }

}

* {
    grid-column: content;
}

.breakout {
    grid-column: breakout;
}

.breakout-left {
    grid-column: breakout-left;
}

.breakout-right {
    grid-column: breakout-right;
}

.full-width {
    grid-column: full-width;
}

.edge {
    grid-column: edge;
}

body {
    min-height: 100dvh;
    grid-template-rows: [header-start] auto [header-end main-start] 1fr [main-end footer-start] auto [footer-end];
}

header,
main,
footer {
    grid-column: edge;
    display: grid !important;
    grid-template-columns: subgrid;
}

header {
    grid-row: header;
}

main {
    grid-row: main;
    grid-auto-rows: min-content;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

footer {
    grid-row: footer;
}