a {
    color: var(--mui-palette-primary-main);
    cursor: pointer;
    text-decoration: none;
}

.monospace {
    font-family: "Fira Code", monospace !important;
    font-variant-ligatures: "contextual" !important;
}