body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

body,
footer {
    transition: background-color 0.5s linear;
}

a {
    color: #1c7eea;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #1358a3;
}