body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

body,
footer,
.MuiPaper-rounded {
    transition: background-color 0.5s linear;
}

a {
    color: #1c7eea;
    margin: 0;
    padding: 0;
}

a:hover,
a {
    text-decoration: none;
    cursor: pointer;
}