@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

html,
body {
    height: 100%;
    width: 100%;
}
body {
    background: #171717;
    color: #ededed;
}

/* Cards */
.card {
    margin: 5px;
    width: 100%;
}
.card-img {
    border-radius: 30%;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
}
h1,
h2,
h3 {
    font-weight: bold;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
p {
    font-size: 20px;
}
a {
    text-decoration: none;
}
